[run]
omit = 
    django_drf_filepond/__init__.py
    django_drf_filepond/apps.py
    django_drf_filepond/migrations/*
    tests/*
    ; Prevent coverage under py2.7 and py3.5 including venv files
    .tox/*
    env*

[report]
show_missing = True
